body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #033939;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 34px;
  color: #e6e0d1;
  text-align: center;
}

.statusWinner {
  color: #ecec42;
  margin-left: 15px;
  font-weight: bold;
  font-size: 34px;
  text-align: center;
}

.displayWinner {
  color: #a5f5bd;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  text-align: center;

}

.square {
  background: #eeeaea;
  border: 1px solid #999;
  float: left;
  font-size: 34px;
  font-weight: bold;
  line-height: 34px;
  height: 90px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 90px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}